#s-filter {
  #menu-filter {
    background-color: $bg-secondary;
    width: 100%;
    margin-top: $gap-96;
    border-radius: 4px;
    padding: $gap-24 $gap-40;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include responsive-tablet() {
        flex-wrap: wrap;
        gap: $gap-32;
      }

      li {
        @include responsive-tablet() {
          width: 100%;
          text-align: center;
        }

        a {
          color: $color-white;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 500;
          padding: 22px 0;

          &:hover {
            color: $color-main;
            border-bottom: 3px solid $color-main;

            @include responsive-tablet() {
              border: none;
            }
          }
        }
      }
    }
  }

  #container-input {
    margin-top: $gap-40;
    background-color: $bg-secondary;
    border-radius: 4px;

    input {
      padding: $gap-16 $gap-40;
      width: 100%;
      color: $color-white;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;

      background: url("../image/icons/search.svg") no-repeat right;
      background-size: $gap-24;
      background-position-x: right $gap-40;
    }
  }

  #cards-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gap-32;
    margin: $gap-80 0;

    @include responsive-tablet() {
      flex-wrap: wrap;
    }

    > div {
      width: 20%;
      height: 400px;
      flex-grow: 1;
      position: relative;
      border-radius: 4px;
      background-size: 100%;
      transition: 0.5s background-size;

      @include responsive-tablet() {
        width: 45%;
      }

      @include responsive-mobile() {
        width: 100%;
      }

      > div {
        height: 100%;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(12, 12, 12, 0) 0%,
          rgba(12, 12, 12, 0.6) 100%
        );
      }

      img {
        position: absolute;
        bottom: $gap-32;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    > div {
      background-position: center;
      background-size: 130%;

      &:hover {
        background-size: 120%;
      }

      &:nth-child(1) {
        background-image: url("../image/1.png");
      }

      &:nth-child(2) {
        background-image: url("../image/2.png");
      }

      &:nth-child(3) {
        background-image: url("../image/3.png");
      }

      &:nth-child(4) {
        background-image: url("../image/4.png");
      }
    }
  }
}
