#s-navigation {
  h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 600;
  }

  nav {
    margin: $gap-40 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $gap-32;

      @include responsive-tablet() {
        flex-wrap: wrap;
      }

      a {
        flex-grow: 1;
        text-align: center;
        background-color: $color-main;
        border-radius: 4px;
        padding: 20px 40px;

        &:hover {
          background-color: $color-main-hover;
        }

        li {
          font-size: 1.8rem;
          text-transform: uppercase;
          color: $color-white;
          font-weight: 600;
        }
      }
    }
  }
}
